html {
    background-color: #F3F5FC;
}

nav {
    background-color: #356EA9;
    padding: 10px 20px;
    color: white;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand-logo img {
    height: 40px;
}

.brand-logo h1 {
    margin: 0;
    font-size: 20px;
    display: inline-block;
}

.container {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    flex-wrap: wrap;
}

.section {
    width: calc(50% - 20px);
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .section {
        width: calc(100% - 40px);
    }

    .brand-logo h1 {
        display: none;
    }
}

textarea {
    width: calc(100% - 20px);
    height: 200px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    resize: none;
    font-size: 3em;
    border: none;
}

textarea:focus {
    outline: none;
    box-shadow: none; 
}

.button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #0A3871;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #609ED4;
}

.button-copy {
    background-color: #609ED4;
}

.button-copy:hover {
    background-color: #0A3871;
}

.section>p {
    text-align: center;
    font-style: italic;
    margin-top: 0px;
}